*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  width: 1600px;
  margin: 0 auto;
}

input, button, textarea {
  font-family: 'Montserrat', sans-serif;
}

button {
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}

button:focus {
  outline: none;
}

a, a:visited, a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;
}

p {
  line-height: 1.5;
  color: #44484f;
}

h1, h2, h3 {
  font-family: 'Playfair Display', sans-serif;
  color: #454545;
}

img {
  width: 100%;
  height: auto;
}

.container {
  width: 1500px;
  margin: 0 auto;
}

.main-btn {
  display: inline-block;
  padding: 15px 30px;
  border: 3px solid #b9a882;
  border-radius: 30px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}

.main-btn--dark {
  color: #454545;
}

.logo {
  margin-right: 20px;
}

.logo-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-text {
  font-family: 'Dancing Script', cursive;
  font-size: 45px;
  color: #363636;
}

.logo-text span {
  color: #b9a882;
}

.logo-subtext {
  font-size: 9px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #44484f;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}

.social-link:last-child {
  margin-right: 0;
}

.social-link-img {
  width: 20px;
  height: 20px;
  fill: #b9a882;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.social-link-img:hover {
  fill: #fff;
}

.slider-btn {
  width: 30px;
  height: 30px;
  border: 3px solid #fff;
  border-radius: 50%;
  background-image: url("data:image/svg+xml,%3Csvg fill='%23ffffff' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 447.243 447.243' style='enable-background:new 0 0 447.243 447.243;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M420.361,192.229c-1.83-0.297-3.682-0.434-5.535-0.41H99.305l6.88-3.2c6.725-3.183,12.843-7.515,18.08-12.8l88.48-88.48 c11.653-11.124,13.611-29.019,4.64-42.4c-10.441-14.259-30.464-17.355-44.724-6.914c-1.152,0.844-2.247,1.764-3.276,2.754 l-160,160C-3.119,213.269-3.13,233.53,9.36,246.034c0.008,0.008,0.017,0.017,0.025,0.025l160,160 c12.514,12.479,32.775,12.451,45.255-0.063c0.982-0.985,1.899-2.033,2.745-3.137c8.971-13.381,7.013-31.276-4.64-42.4 l-88.32-88.64c-4.695-4.7-10.093-8.641-16-11.68l-9.6-4.32h314.24c16.347,0.607,30.689-10.812,33.76-26.88 C449.654,211.494,437.806,195.059,420.361,192.229z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px;
  cursor: pointer;
  z-index: 10;
}

.main-slider {
  position: relative;
  height: 600px;
  overflow: hidden;
}

.main-slider__slides {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.main-slider__btns {
  position: absolute;
  top: 20px;
  right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
}

.main-slider__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  border: 3px solid #fff;
  border-radius: 50%;
  margin-right: 10px;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.main-slider__btn:last-child {
  margin-right: 0;
}

.main-slider__btn:hover {
  color: #b9a882;
  border: 3px solid #b9a882;
}

.main-slider__first {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 100%;
  height: 100%;
  background: url("/img/main-slider-bg.png") no-repeat;
  background-size: cover;
}

.main-slider__first:before {
  position: absolute;
  content: '';
  width: 360px;
  height: 100%;
  right: 150px;
  background: url("/img/saul.png") no-repeat;
  background-position: bottom;
}

.main-slider__first-info {
  text-align: center;
  margin-left: 150px;
}

.main-slider__first-title {
  font-family: "Dancing Script";
  font-size: 93px;
  color: #fff;
  margin-bottom: 10px;
  z-index: 1;
}

.main-slider__first-subtitle {
  text-align: center;
  max-width: 830px;
  font-size: 14px;
  color: #fff;
  margin-bottom: 60px;
  z-index: 1;
}

.main-slider__second {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 100%;
  height: 100%;
  background-image: url("/img/court-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.main-slider__second:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: -o-linear-gradient(315deg, transparent 65%, rgba(255, 255, 255, 0.2) 0);
  background: linear-gradient(135deg, transparent 65%, rgba(255, 255, 255, 0.2) 0);
  z-index: 1;
}

.main-slider__second-info {
  position: relative;
  text-align: center;
  z-index: 2;
}

.main-slider__second-title {
  font-family: "Dancing Script";
  font-size: 93px;
  color: #fff;
  margin-bottom: 10px;
}

.main-slider__second-subtitle {
  text-align: center;
  max-width: 830px;
  font-size: 14px;
  color: #fff;
  margin-bottom: 60px;
}

.services__wrapper {
  padding: 50px 160px 90px;
}

.services-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services-top__text {
  margin-right: 35px;
  color: #44484f;
}

.services-top__title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.services-top__subtitle {
  font-size: 13px;
  margin-bottom: 20px;
}

.services-top__details {
  position: relative;
  bottom: 90px;
  display: grid;
  grid-template-columns: repeat(2, 360px);
  grid-template-rows: repeat(2, 100px);
  grid-column-gap: 50px;
  grid-row-gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px 40px;
  background: -o-linear-gradient(315deg, transparent 35px, #b9a882 0);
  background: linear-gradient(135deg, transparent 35px, #b9a882 0);
}

.services-top__detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services-top__detail-logo {
  min-width: 60px;
  min-height: 60px;
  margin-right: 15px;
}

.services-top__detail-info {
  color: #fff;
}

.services-top__detail-title {
  font-size: 20px;
  margin-bottom: 10px;
  color: #fff;
}

.services-top__detail-subtitle {
  font-size: 13px;
  color: #fff;
}

.services-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services-left {
  margin-right: 50px;
}

.services-left__title {
  font-size: 30px;
  margin-bottom: 15px;
}

.services-left__subtitle {
  font-size: 15px;
  margin-bottom: 30px;
}

.services-left__values {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services-left__value {
  margin-right: 20px;
  width: 170px;
}

.services-left__value-num {
  font-size: 60px;
  font-weight: 700;
  color: #b9a882;
}

.services-left__value-text {
  font-size: 16px;
  font-weight: 700;
}

.services-right {
  max-width: 470px;
}

.services-right__title {
  font-size: 30px;
  margin-bottom: 15px;
}

.services-right__subtitle {
  font-size: 16px;
}

.services-right__subtitle:nth-of-type(1) {
  margin-bottom: 15px;
  font-weight: 700;
}

.two-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 385px;
  margin-bottom: 100px;
}

.two-blocks__wrapper {
  width: 100%;
  position: relative;
  height: 100%;
  margin-right: 5px;
  background-color: #b9a882;
}

.two-blocks__wrapper:before {
  position: absolute;
  content: '';
  top: 50px;
  left: 250px;
  width: 90px;
  height: 90px;
  background: url("/img/quotes.png") no-repeat;
  z-index: 0;
  opacity: 0.5;
}

.two-blocks__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.two-blocks__slider-wrapper {
  margin: 100px 35px 70px 200px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  overflow: hidden;
}

.two-blocks__slide {
  position: relative;
  min-width: 100%;
  z-index: 1;
}

.two-blocks__slide-text {
  font-size: 14px;
  color: #fff;
  margin-bottom: 20px;
}

.two-blocks__slide-person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.two-blocks__person-image {
  width: 85px;
  height: 85px;
  background-color: #fff;
  border-radius: 50%;
  margin-right: 20px;
}

.two-blocks__person-name {
  font-size: 20px;
  color: #fff;
}

.two-blocks__person-spec {
  color: #fff;
}

.two-blocks__about {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #4a5b74;
}

.two-blocks__logo {
  margin-left: 100px;
}

.two-blocks__logo-subtext {
  margin-bottom: 15px;
}

.two-blocks__btns {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 50px;
  right: 50px;
}

.two-blocks__slider-btn {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.two-blocks__slider-btn:hover {
  background-image: url("data:image/svg+xml,%3Csvg fill='%23b9a882' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 447.243 447.243' style='enable-background:new 0 0 447.243 447.243;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M420.361,192.229c-1.83-0.297-3.682-0.434-5.535-0.41H99.305l6.88-3.2c6.725-3.183,12.843-7.515,18.08-12.8l88.48-88.48 c11.653-11.124,13.611-29.019,4.64-42.4c-10.441-14.259-30.464-17.355-44.724-6.914c-1.152,0.844-2.247,1.764-3.276,2.754 l-160,160C-3.119,213.269-3.13,233.53,9.36,246.034c0.008,0.008,0.017,0.017,0.025,0.025l160,160 c12.514,12.479,32.775,12.451,45.255-0.063c0.982-0.985,1.899-2.033,2.745-3.137c8.971-13.381,7.013-31.276-4.64-42.4 l-88.32-88.64c-4.695-4.7-10.093-8.641-16-11.68l-9.6-4.32h314.24c16.347,0.607,30.689-10.812,33.76-26.88 C449.654,211.494,437.806,195.059,420.361,192.229z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
  background-color: #fff;
}

.two-blocks__slider-btn-prev {
  margin-right: 5px;
}

.two-blocks__slider-btn-next {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.index-team__wrapper {
  padding: 0 160px;
  margin-bottom: 100px;
}

.index-team__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
}

.index-team__left {
  margin-right: 30px;
}

.index-team__left-title {
  font-size: 30px;
  margin-bottom: 20px;
}

.index-team__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.index-team__subtitle-text {
  font-size: 13px;
  margin-bottom: 20px;
}

.index-team__subtitle-text:last-child {
  margin-bottom: 0;
}

.index-team__image {
  position: relative;
  margin-right: 20px;
}

.index-team__image-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "Dancing Script";
  font-size: 20px;
  color: #b9a882;
}

.index-team__img {
  width: 80px;
}

.index-team__right {
  min-width: 350px;
}

.index-team__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.index-team__person {
  position: relative;
  margin: 0 15px;
}

.index-team__person:first-child {
  margin-left: 0;
}

.index-team__person:last-child {
  margin-right: 0;
}

.index-team__person-image {
  position: relative;
  width: 270px;
  height: 330px;
  background-color: #454545;
  margin-bottom: 15px;
}

.index-team__person-image:hover .index-team__hover-info {
  opacity: 1;
}

.index-team__person-name {
  font-size: 20px;
  margin-bottom: 5px;
}

.index-team__person-spec {
  font-size: 13px;
}

.index-team__hover-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 10px solid rgba(185, 168, 130, 0.5);
  padding: 50px 20px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.index-team__hover-info:after {
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(69, 69, 69, 0.5);
}

.index-team__hover-info-text {
  font-size: 13px;
  color: #fff;
  margin-bottom: 25px;
}

.index-team__hover-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.index-team__hover-icon {
  margin-right: 10px;
}

.index-team__hover-icon:last-child {
  margin-right: 0;
}

.index-news {
  margin-bottom: 110px;
}

.index-news__wrapper {
  padding: 0 160px;
}

.index-news__title {
  text-align: center;
  font-size: 30px;
  margin-bottom: 25px;
}

.index-news__subtitle {
  text-align: center;
  max-width: 600px;
  font-size: 16px;
  color: #44484f;
  margin: 0 auto 35px;
}

.index-news__news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.index-news__new {
  margin: 15px;
}

.index-news__new:first-child {
  margin-left: 0;
}

.index-news__new:last-child {
  margin-right: 0;
}

.index-news__new-image {
  width: 370px;
  height: 230px;
  background-color: #454545;
  margin-bottom: 20px;
}

.index-news__new-date {
  font-size: 11px;
  color: #b9a882;
  margin-bottom: 15px;
}

.index-news__new-name {
  font-size: 20px;
  margin-bottom: 5px;
}

.index-news__new-subname {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 10px;
  color: #44484f;
  margin-bottom: 30px;
}

.index-news__new-info {
  font-size: 13px;
  margin-bottom: 25px;
}

.index-news__new-btn {
  color: #454545;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 160px;
}

.header__social-img {
  width: 30px;
  height: 30px;
}

.header__contacts {
  margin-bottom: 30px;
  font-size: 12px;
}

.header__contact {
  display: inline-block;
  color: #b9a882;
}

.header__contact:first-child {
  position: relative;
  margin-right: 20px;
}

.header__contact:first-child:after {
  position: absolute;
  content: '';
  display: block;
  width: 1px;
  height: 15px;
  top: 50%;
  right: -12px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #44484f;
  opacity: 0.5;
}

.header__nav-block {
  text-align: right;
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav-name {
  margin-right: 30px;
}

.header__nav-name:last-child {
  margin-right: 0;
}

.header__nav-link {
  padding-bottom: 30px;
  font-size: 14px;
  font-weight: 700;
  color: #363636;
  border-bottom: 8px solid transparent;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header__nav-link:hover {
  border-bottom: 8px solid #b9a882;
}

.footer {
  background-color: #454545;
}

.footer__wrapper {
  padding: 60px 160px;
}

.footer__slider {
  margin-bottom: 70px;
}

.footer__slider-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__slider-img {
  width: 60px;
  margin: 0 40px;
}

.footer__bottom {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__addresses {
  width: 240px;
}

.footer__addresses-logo {
  color: #fff;
  font-size: 40px;
}

.footer__addresses-subtext {
  color: #fff;
  margin-bottom: 20px;
}

.footer__address, .footer__tel, .footer__mail {
  display: block;
  font-size: 13px;
  color: #fff;
  margin-bottom: 10px;
}

.footer__mail {
  margin-bottom: 25px;
}

.footer__address {
  margin-bottom: 20px;
}

.footer__services {
  width: 190px;
}

.footer__services-title {
  font-size: 20px;
  color: #fff;
  margin-bottom: 20px;
}

.footer__services-name {
  margin-bottom: 20px;
}

.footer__services-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  color: #fff;
}

.footer__services-link:hover {
  text-decoration: underline;
}

.footer__services-link:before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  background-image: url("data:image/svg+xml,%3Csvg fill='%23b9a882' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 447.243 447.243' style='enable-background:new 0 0 447.243 447.243;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M420.361,192.229c-1.83-0.297-3.682-0.434-5.535-0.41H99.305l6.88-3.2c6.725-3.183,12.843-7.515,18.08-12.8l88.48-88.48 c11.653-11.124,13.611-29.019,4.64-42.4c-10.441-14.259-30.464-17.355-44.724-6.914c-1.152,0.844-2.247,1.764-3.276,2.754 l-160,160C-3.119,213.269-3.13,233.53,9.36,246.034c0.008,0.008,0.017,0.017,0.025,0.025l160,160 c12.514,12.479,32.775,12.451,45.255-0.063c0.982-0.985,1.899-2.033,2.745-3.137c8.971-13.381,7.013-31.276-4.64-42.4 l-88.32-88.64c-4.695-4.7-10.093-8.641-16-11.68l-9.6-4.32h314.24c16.347,0.607,30.689-10.812,33.76-26.88 C449.654,211.494,437.806,195.059,420.361,192.229z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.footer__posts {
  width: 250px;
}

.footer__posts-title {
  color: #fff;
  margin-bottom: 20px;
}

.footer__post {
  display: block;
  margin-bottom: 5px;
}

.footer__post-text {
  font-size: 13px;
  color: #fff;
}

.footer__post-date {
  font-size: 12px;
  color: #b9a882;
}

.footer__contact {
  width: 270px;
}

.footer__contact-title {
  font-size: 20px;
  color: #fff;
  margin-bottom: 20px;
}

.footer__contact-input {
  width: 100%;
  padding: 10px 15px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  outline: none;
  cursor: pointer;
  color: #fff;
  font-size: 13px;
  margin-bottom: 10px;
}

.footer__contact-textarea {
  resize: none;
  margin-bottom: 20px;
}

.footer__form-btn {
  background-color: transparent;
}

.footer__copyright {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 13px;
  color: #fff;
}

.brown-btn {
  color: #b9a882;
  border: 3px solid #b9a882;
}
