.about-service 
  padding: 100px 0 90px
  &__wrapper 
    display: flex
    align-items: center
  &__title 
    font-size: 30px 
    margin-bottom: 20px 
  &__text 
    margin-right: 80px
  &__subtitle 
    font-size: 13px
    &:nth-of-type(1)
      font-weight: 700
      margin-bottom: 20px
  &__sg-logo 
    min-width: 190px
    max-width: 190px
    height: 160px
    .sg-logo__image-center
      font-size: 60px

.about-team 
  &__wrapper
      margin-bottom: 100px 

.about-exp 
  &__wrapper 
    display: flex 
  
.interest-service 
  margin-right: 20px
  margin-bottom: 100px
  &__title 
    font-size: 30px
    margin-bottom: 20px 
  &__nav 
    display: flex
  &__btn 
    padding: 25px 40px
    border: 1px solid $grey-color
    border-bottom: none
    border-right: none 
    font-size: 13px 
    &:last-child
      border-right: 1px solid $grey-color
  &__main 
    height: 150px
    padding: 30px
    border: 1px solid $grey-light-color

.our-exps 
  &__title 
    font-size: 30px
    margin-bottom: 20px
  &__single 
    width: 370px 
    margin-bottom: 12px
    &:last-child
      margin-bottom: 0
    &-top 
      display: flex
      justify-content: space-between
      align-items: center
      font-size: 13px
      font-weight: 700 
    &-bottom
      display: flex
      align-items: center
    &-line 
      height: 15px 
      border: 1px solid $grey-light-color
      &-first
        width: 75%
        margin-right: 3px
        border: 1px solid $brown-color
        background-color: $brown-color
      &-second
        width: 25%