*, *:before, *:after
  box-sizing: border-box

body 
  font-family: 'Montserrat', sans-serif
  width: 1600px
  margin: 0 auto

input, button, textarea 
  font-family: 'Montserrat', sans-serif

button 
  font-family: 'Montserrat', sans-serif
  cursor: pointer
  &:focus
    outline: none

a, a:visited, a:hover 
  text-decoration: none

li 
  list-style: none

h1, h2, h3, h4, h5, h6, p, ul
  margin: 0
  padding: 0

p 
  line-height: 1.5
  color: $grey-light-color

h1, h2, h3 
  font-family: 'Playfair Display', sans-serif
  color: $grey-color
  font-size: 30px

img 
  width: 100%
  height: auto

.container
  width: 1200px
  margin: 0 auto

.main-btn
  display: inline-block
  padding: 15px 30px
  border: 3px solid $brown-color
  border-radius: 30px 
  font-size: 12px
  font-weight: 700
  text-transform: uppercase
  color: #fff
  transition: 0.5s
  &:hover 
    background-color: $brown-color
  &--dark 
    color: $grey-color

.logo
  margin-right: 20px
  &-block
    display: flex
    align-items: center
  &-text 
    font-family: 'Dancing Script', cursive
    font-size: 45px
    color: $grey-dark-color
    span 
      color: $brown-color
  &-subtext 
    font-size: 9px
    text-transform: uppercase
    letter-spacing: 2px
    color: $grey-light-color

.social
  &-links
    display: flex
    align-items: center
  &-link
    display: flex
    align-items: center
    margin-right: 20px
    &:last-child
      margin-right: 0
    &-img
      width: 20px
      height: 20px
      fill: $brown-color
      transition: 0.3s
      &:hover 
        fill: #fff

.slider-btn
  display: inline-block
  min-width: 30px
  min-height: 30px
  border: 3px solid #fff
  border-radius: 50% 
  background-image: url("data:image/svg+xml,%3Csvg fill='%23ffffff' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 447.243 447.243' style='enable-background:new 0 0 447.243 447.243;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M420.361,192.229c-1.83-0.297-3.682-0.434-5.535-0.41H99.305l6.88-3.2c6.725-3.183,12.843-7.515,18.08-12.8l88.48-88.48 c11.653-11.124,13.611-29.019,4.64-42.4c-10.441-14.259-30.464-17.355-44.724-6.914c-1.152,0.844-2.247,1.764-3.276,2.754 l-160,160C-3.119,213.269-3.13,233.53,9.36,246.034c0.008,0.008,0.017,0.017,0.025,0.025l160,160 c12.514,12.479,32.775,12.451,45.255-0.063c0.982-0.985,1.899-2.033,2.745-3.137c8.971-13.381,7.013-31.276-4.64-42.4 l-88.32-88.64c-4.695-4.7-10.093-8.641-16-11.68l-9.6-4.32h314.24c16.347,0.607,30.689-10.812,33.76-26.88 C449.654,211.494,437.806,195.059,420.361,192.229z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E")
  background-repeat: no-repeat
  background-position: center
  background-size: 12px
  cursor: pointer
  z-index: 10

.sg-logo
  position: relative
  min-width: 100px
  max-width: 100px
  height: 80px
  margin-right: 20px
  &__image 
    width: 100%
    height: 100%
    margin-right: 20px
    &-center 
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      font-family: $dancingscript
      font-size: 20px
      color: $brown-color

.timeline 
  display: flex
  flex-direction: column
  align-items: center
  width: 20px 
  height: 170px 
  &__circle 
    display: flex
    align-items: center
    justify-content: center
    min-width: 20px 
    min-height: 20px
    border: 2px solid #DBDEE3
    border-radius: 50%  
    background-color: #fff
    &-center 
      width: 6px
      height: 6px
      background-color: $brown-color
      border-radius: 50%
  &__line 
    height: 100% 
    width: 3px 
    border: 1px solid #DBDEE3 
    border-top: none 
    border-bottom: none