*, *:before, *:after
  box-sizing: border-box

body 
  font-family: $oxygen, sans-serif
  width: 1600px
  margin: 0 auto

input, button, textarea 
  font-family: $oxygen, sans-serif

button 
  font-family: $oxygen, sans-serif
  cursor: pointer
  &:focus
    outline: none

a, a:visited, a:hover 
  text-decoration: none

li 
  list-style: none

h1, h2, h3, h4, h5, h6, p, ul
  margin: 0
  padding: 0

p 
  line-height: 1.5
  color: $grey-light-color

h1, h2, h3 
  font-family: $parmigiano, sans-serif
  color: $grey-color

img 
  width: 100%
  height: auto

.container
  width: 1500px
  margin: 0 auto

.main-btn
  display: inline-block
  padding: 15px 30px
  border: 3px solid $brown-color
  border-radius: 30px 
  font-size: 12px
  font-weight: 700
  text-transform: uppercase
  color: #fff
  &--dark 
    color: $grey-color

.logo
  margin-right: 20px
  &-block
    display: flex
    align-items: center
  &-text 
    font-family: 'Dancing Script', cursive
    font-size: 45px
    color: $grey-dark-color
    span 
      color: $brown-color
  &-subtext 
    font-size: 9px
    text-transform: uppercase
    letter-spacing: 3px
    color: $grey-light-color