// Colors
$brown-color: #b9a882
$gray-light-color: #44484f
$gray-dark-color: #363636
$gray-color: #454545

//Fonts 
$dancingscript: 'Dancing Script'

@mixin media($_size) 
    @media (max-width: $_size) 
        @content

