// Colors
$brown-color: #b9a882
$grey-light-color: #44484f
$grey-dark-color: #363636
$grey-color: #454545

//Fonts 
$oxygen: 'Oxygen'
$parmigiano: 'Parmigiano Piccolo Pro'
$dancingscript: 'Dancing Script'
