.footer 
  background-color: $grey-color
  &__wrapper
    padding: 60px 160px 
  &__slider
    margin-bottom: 70px
    &-wrapper
      display: flex
      align-items: center
    &-img 
      width: 60px
      margin: 0 40px
  &__bottom
    display: flex
    justify-content: space-between
  &__addresses 
    width: 240px
    &-logo 
      font-size: 40px
  &__services 
    width: 170px 
  &__posts 
    width: 250px
  &__contact
    width: 270px